#listMusicView {
	display: flex;
}

.hidden {
	display: none;
}
.searchBox {
	background-color: #4DD7FA;
	width: 20%;
	margin: 10px;
	border-style: solid;
	padding: 10px;
	margin-left: 0;
}

.songInfo {
	background-color: #FEFAC0;
	border-style: solid;
	margin-top: 10px;
	width: 75%;
	padding: 10px;
	padding-top: 0;
}

#addMusicView {
	margin: auto;
	width: 50%;
	padding-top: 10%;
}

nav {
	background-color: #FFB4B0;
	border-style: solid;
}

li {
	list-style-type: none;
	display: inline;
}

select {
	position: center;
}

h2 {
	color: #785616;
	margin-bottom: 0px;
}

p {
	margin-top: 0px;
}